#apu { text-align:left;color:#F5B134;font-size: 13px;font-family: trebuchet ms; width:450px;margin:auto;}
#apu a { color:#FFCA00;text-decoration:underline; }
#apu a big{ color:#FFCA00;text-decoration:none; }
.ap {text-decoration:none;}
#apu a:hover { color:white; }
#apu a:active{ color:#CC1205; }
#apu hr { border:0;border-bottom:1px solid #513100;border-top:1px solid #382200;height:3px;background-color: #b61b700; }
small {font-size: 9px;font-family: tahoma;}
#apu table {width:100%;border:0;padding:0;margin:0;}
#apu table td ,#apu table tr {vertical-align:middle;}
.apo {width:100%;height:20px; font-family:arial,tahoma; font-size: 13px; font-weight:600; border: 1px solid #505050; background-color: #101010; color:#F5B134; }
.apo option{text-align:center; font-family:trebuchet ms,arial,tahoma; font-size: 12px; font-weight:600; background-color: #101010; color:#F5B134; }
#apu h1,#apu h3,#apu h2,#apu h6 {color:#FFCA00;font-family:arial;text-decoration:underline;}
.titt {text-align:center;font-size:16px;text-decoration:none;font-weight:600;font-family:trebuchet ms; }
.titt a {text-decoration:none;}
.lin {color:white;border-bottom:1px solid white;}
.botonapu {
display:block;
text-align:center;
background:url(/imagenes/bg_volver.gif) center no-repeat;
font-family:Tahoma,"Microsoft Sans Serif";
font-size:8pt;
font-weight:bold;
color:#102d02;
text-decoration:none;
letter-spacing:1px;
cursor:pointer;
border:0;
}
