/* Estilos generales */

html,body {
margin:0;
padding:0;
}

body {
text-align:center;
background:url(/web/20110411034903im_/http://www.tierrasdelsur.cc/imagenes/bg_stone.gif) #000000 top;
min-width:700px;
}

a:active, a:focus {
outline:none;
}


body#seccion_inicio a#inicio,
body#seccion_reglamento a#reglamento,
body#seccion_manual a#manual,
body#seccion_soporte a#soporte,
body#seccion_staff a#staff,
body#seccion_ranking a#ranking,
body#seccion_top50 a#top50,
body#seccion_retos a#retos, 
body#seccion_premium a#premium {
color:#FFFEE6;
text-decoration:underline;
}

#bg_top {
background:url(/web/20110411034903im_/http://www.tierrasdelsur.cc/imagenes/bg_stone_top.gif) top repeat-x;
}

/*| pagina |*/
#pagina {
margin:0 auto;
width:700px;
background:url(/web/20110411034903im_/http://www.tierrasdelsur.cc/imagenes/bg_pagina.gif) center top repeat-y;
cursor:default;
}

.bottom {
height:74px;
}

#main {
margin:0 auto;
width:563px;
padding-right:6px;
}

#left {
margin-top:-10px;
float:left;
width:150px;
}

#right {
margin-top:10px;
float:right;
width:403px;
}

#contenido {
margin-top:10px;
width:100%;
}

.clear {
clear:both;
}

acronym {
border:0;
cursor:default;
}

a acronym {
cursor:pointer;
}

#header {
display:block;
height:197px;
width:700px;
}

/* menu */
#menu {
height:63px;
width:700px;
background:url(/web/20110411034903im_/http://www.tierrasdelsur.cc/imagenes/bg_menu.gif) no-repeat;
}
#menu .arriba {
padding-left:90px;
padding-bottom:10px;
}
#menu .abajo {
padding-left:90px;
}
#menu ul {
padding:0;
margin:0;
list-style:none;
}
#menu li {
padding:5px;
padding-bottom:7px;
float:left;
padding-right:20px;
background:url(/web/20110411034903im_/http://www.tierrasdelsur.cc/imagenes/separador_link.gif) right center no-repeat;
}

#menu span {
display:none;
}

#menu a {
font-family:Verdana;
font-size:0.95em;
font-weight:bold;
text-transform:capitalize;
color:#CCCCCC;
text-decoration:none;
padding:5px;
cursor:pointer;
}

#menu a:hover {
color:#FFFFFF;
}

#menu li.ultimo {
background-image:none;
}

#menu .jugadores_online {
font-family:"Trebuchet MS";
font-size:0.9em;
font-weight:bold;
color:#ffc000;
}

.titulo_seccion {
background:url(/web/20110411034903im_/http://www.tierrasdelsur.cc/imagenes/bg_titulo_seccion.gif) no-repeat;
height:41px;
}

.titulo_seccion h1 {
padding:0;
margin:0;
font-family:"Trebuchet MS";
color:#FFAC00;
font-weight:bold;
text-align:right;
font-size:1em;
padding-right:100px;
text-align:right;
padding-top:5px;
white-space:nowrap;
}

.titulo_seccion h1 a {
font-family:"Trebuchet MS";
color:#FFAC00;
text-decoration:none;
font-size:1em;
}

.titulo_seccion .ultima_actualizacion {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.6em;
	color:#C9B68F;
	font-weight:normal;
	text-align:right;
	position:relative;
	top:-5px;
	right:4px;
}

/*| /menu |*/

.link_volver {
text-align:center;
}

.link_volver a {
display:block;
text-align:center;
background:url(/web/20110411034903im_/http://www.tierrasdelsur.cc/imagenes/bg_volver.gif) center no-repeat;
font-family:"Microsoft Sans Serif";
font-size:0.75em;
font-weight:bold;
color:#102d02;
text-decoration:none;
letter-spacing:1px;
cursor:pointer;
}

.link_volver a:hover { color:#333333; }

#box_img{text-align:center;vertical-align:middle;}
#box_img .noticias_img_box {float:center;height:150px;padding:4px;width:150px;}
#box_img .noticias_img_box img{background:black url(/web/20110411034903im_/http://www.tierrasdelsur.cc/cargando.gif) no-repeat scroll center center;cursor:pointer;display:block;height:150px;width:150px;border:0;}
/*
     FILE ARCHIVED ON 03:49:03 Apr 11, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:07:01 Oct 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 159.521
  exclusion.robots: 0.107
  exclusion.robots.policy: 0.093
  cdx.remote: 0.077
  esindex: 0.012
  LoadShardBlock: 108.985 (3)
  PetaboxLoader3.datanode: 192.532 (4)
  load_resource: 242.586
  PetaboxLoader3.resolve: 148.925
*/